.profile-pg-container {
    min-height: 60vh;
}

.profile-btn {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    margin: 0.3rem;
    color: rgb(111, 42, 163);
}

.profile-btn:hover {
    background-color: rgb(255, 255, 255);
}

.myprofile-info-container {
    /* max-width: 600px;
    min-width: 340px;
    min-height: 350px; */
    border: medium solid white;
    padding: 1rem;
    padding-bottom: 4rem;
    padding-right: 5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: #7f36c4;
}

.user-profile-data {
    color: rgb(159, 236, 255);
}

.myprofile-info-orders-container {
    /* max-height: 600px;
    min-width: 400px;
    height: 400px; */
    border: medium solid white;
    padding: 1rem;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
    border-radius: 10px;
    background-color: #7f36c4;
}

.editmyprofile-info-container {
    max-width: 600px;
    min-width: 400px;
    height: 400px;
    border: medium solid white;
    border-radius: 10px;
    background-color: #7f36c4;
}



/* /******* EDIT data btn */

.edit-user-data-btn {
    background: linear-gradient(50deg, rgba(134,65,233,0.7) 0%, rgba(87,255,204,0.7) 63%, rgba(255,79,232,0.7) 89%);
    color: white;
    text-shadow: 0.15rem 0.2rem 0.5rem rgb(74, 46, 167);
    padding: 0.2rem;
    font-weight: bold;
    border: 2px solid rgb(58, 59, 129);
    border-radius: 10px;
}

.edit-user-data-btn:hover {
    background: linear-gradient(50deg, rgba(64,224,255,0.7) 0%, rgba(70,66,254,0.7) 56%, rgba(57,226,255,0.7) 100%);
    border: 3px solid rgb(255, 111, 0);
    color: rgb(134, 244, 246);
    text-shadow: 0.15rem 0.2rem 0.1rem rgb(40, 24, 92);

}

.updating-ok-user-data-btn{
    background: linear-gradient(50deg, rgba(134,65,233,0.7) 0%, rgba(87,255,204,0.7) 63%, rgba(255,79,232,0.7) 89%);
    width: 2.2rem;
    color: white;
    text-shadow: 0.15rem 0.2rem 0.5rem rgb(74, 46, 167);
    padding: 0.2rem;
    font-weight: bold;
    border: 2px solid rgb(58, 59, 129);
    border-radius: 3px;
}

.updating-cancel-user-data-btn {
    background: linear-gradient(297deg, rgba(88,73,93,1) 0%, rgba(145,153,204,1) 48%, rgba(178,178,205,1) 100%);
    width: 5rem;
    color: white;
    text-shadow: 0.15rem 0.2rem 0.5rem rgb(74, 46, 167);
    padding: 0.2rem;
    font-weight: bold;
    border: 2px solid rgb(58, 59, 129);
    border-radius: 10px;
}

.updating-ok-user-data-btn:hover,
.updating-cancel-user-data-btn:hover {
    border: 2px solid rgb(255, 111, 0);
}

.update-success-msg {
    background-color: rgb(138, 234, 138);
    padding: 0.5rem;
    text-align: center;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    font-weight: bold;
}

.update-error-msg {
    background-color: rgb(248, 101, 101);
    padding: 0.5rem;
    text-align: center;
    color: black;
    border: 2px solid black;
    border-radius: 4px;
    font-weight: bold;
}