/* **************** Custom Properties **************** */
:root{
    --first-color: #c0f710;
    --bg-first-color: #8a2be2;
    --bg-first-color-hover: #b163fb;
    --border-pink:#e45cc4; 
    --lighter-pink: rgba(238, 181, 221, 0.8);
    --hover-link-color: #57c3f5;
}



/************* styles ************/
.nav-logoimg {
    height: 4rem;
    width: auto;
}

.navlinks-contain {
    font-family: 'Shrikhand', cursive;
}

.dropdowntext {
    color: white !important;
}

.cart-navbar-button {
    color:var(--bg-first-color);
    background-color: var(--hover-link-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    position: relative;
}

.cart-product-num {
    font-family: 'Shrikhand', cursive;
    background-color: rgb(214, 49, 49);
    height: 1.5rem;
    width: 1.5rem;
    border: thin solid rgb(214, 49, 49);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(25%, 25%);
}

.login-navbar-button {
    color:var(--bg-first-color);
    background-color: var(--hover-link-color);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
}

.login-navbar-button:hover {
    background-color: #feaef8;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
}

/************ reset bootstrap styles *********/
.bg-body-purple {
    background-color: var(--bg-first-color) !important;
    border-bottom: thin solid var(--border-pink);
    box-shadow: 0rem 0.05rem 0.8rem var(--lighter-pink);
}

.dropdown-menu {
    background-color: var(--bg-first-color) !important;
}

.dropdown-item:hover {
    background-color: var(--bg-first-color-hover) !important;
}

.nav-link::after {
    color: white;
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: var(--bg-first-color-hover) !important;
    border: medium solid white !important;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler:focus {
    background-color: var(--hover-link-color) !important;
    border: medium solid white !important;
    text-decoration: underline;
    outline: 0;
    box-shadow: 1 1 1 var(--hover-link-color) !important;

}
